html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	/*background-color: #1c1c1c;*/
	background: url(../image/header_bg.png) repeat;
}

/****************** Header Styling ********************/
.header {
	background: url(../image/header_bg.png);
    position: fixed;
    width: 100%;
	min-width: 640px;
	height: 70px;
	top: 0;
	left: 0;
	z-index: 100;
	overflow: hidden;
}		

.item-selected {
	border-bottom: 2px solid #FFF;
}

.logo {	
	float:left;
	margin-top: -5px;
	margin-left: 10px;
}

nav {
	position: relative;
    margin: 0 auto;
	max-width: 1024px;
	top: 0;
}
	
nav ul {
    font-size: 18px;
    text-align: right;
    margin-right: 10px;
	margin-top: 20px;

}

nav ul li {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300; /* Either 300 or 700 */
    display: inline;
    list-style: none;
    margin-left: 4%;
}
/*******************************************************/

/****************** Wrapper Styling ********************/
* { -moz-box-sizing: border-box; box-sizing: border-box; }

.wrap {
	position: relative;
	min-height: 100%;	
}

.content {
    margin: 0 auto;
	padding-bottom: 110px; /* height of footer */	
	height: 100%;
    width: 100%;
	max-width: 1024px;
	min-width: 640px;
}

.content p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; /* Either 300 or 700 */
	text-align: left;
	padding-left: 30%;
	padding-right: 30%;
}

.slider-container {
	width: 100%;
	padding-top: 70px;
	}
	
.main-image {
	width: 100%;
	margin: 0;
	outline: #00FF00 dotted thick;
}
/*******************************************************/

/******************Contact Info Styling ****************/
section#contact-section {
	clear: both;
}

.contact-container {
    /*max-width: 1024px;
    min-width: 640px;*/
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	/*margin-top: 10px;*/
	clear: both;
}

.contact-column {
	/*outline: #00FF00 dotted thick;*/
	float: left;
	min-height: 1px;
	padding: 0 1%;
	width: 50%;
}

.contact-column h1 {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 120%;
	color: #FFF;
	text-align: center;
	margin-bottom: 10px;
}

.contact-column span {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 80%;
	color: #FFF;
}

.follow-container {
	margin: 10px auto;
}

.follow-container img {
	margin: 10px 10px 10px 10px;
}

.email img {
	margin-left: -4px;
}

.phone img {
	margin-top: 2px;
}

.phone, .email, .map {
	margin: 20px auto 0;
}

.contact-underline {
	margin-bottom: 10px;
}

/****************** Footer Styling ********************/
.footer {
	/* Style */	
	/*background: url(../image/footer.png);*/
	bottom: 0;
	width: 100%;
	height: 110px;
	position:relative;
    margin-top:-110px; /* height of footer */
	clear:both;
	
	/* Text */	
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-align: center;	
	line-height: 20px;
}

.footer-logo {
	clear: both;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
/*******************************************************/

/****************** Links Styling **********************/
a {
	border-bottom: 3px solid transparent;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav a:active, nav a:hover { color: #B2B2B2; border-bottom: 2px solid #B2B2B2; }


.follow-container a:hover, .contact-column a:hover, .footer-logo a:hover {
	opacity: 0.5;
}
